body {
    background-color: white;
    margin-left: 220px;
    margin-right: 220px;
    margin-bottom: 80px;
    text-align: justify;
}


div {
    width: 950px;
    padding-left: 50px;
    padding-top: 100px;
    padding-bottom: 100px;
    background: #ef690a;
    font-size: 65px;
    text-align: center;
    padding-right: 50px;
    text-transform: inherit;
    box-shadow: 2px 0 10px #6b5435;
    margin-left: 4px;
}


h2 {
    text-align: center;
    margin-left: 200px;
    margin-right: 200px;
    font-size: 35px;
    font-family: serif;
    font-weight: inherit;
}
p {
    font-size: 17px;
    line-height: 1.3;
    margin-left: 4px;
}


h3 {
    font-size: 40px;
    font-style: normal;
    margin-left: 0px;
    margin-right: 670px;
    text-align: left;
}